[Unit]
Description=CommentP
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill commentp-%i
ExecStartPre=-/usr/bin/docker rm commentp-%i
ExecStartPre=/usr/bin/docker pull bowlingx/comment:0.1.0-SNAPSHOT
ExecStart=/usr/bin/docker run --name commentp-%i bowlingx/comment:0.1.0-SNAPSHOT
ExecStop=/usr/bin/docker stop commentp-%i