-@ val body: String
!!!
html
  head
    link(rel="stylesheet" type="text/css" href="/static/build/css/app.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body
    main.overall-wrapper.main
      .content-wrapper
        .wrapper.wrapper-center
          .page-content
            != body
    script(src="/static/build/js/app.min.js" type="text/javascript")