-@ val body: String
!!!
html
  head
    link(rel="stylesheet" type="text/css" href="/static/build/css/main.css")
  body
    #content
      != body
    script(src="/static/build/js/app.min.js" type="text/javascript")